<!DOCTYPE html>
<html>
    <head>
        <title>
            FPT
        </title>
            <header>
            <img src="/img/FPT.webp" alt="FPT Logo">
        </header>
      {{{body}}}
    </head>
</html>