<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Slider Menu</title>
</head>
  <header class=" container">
        <div>
            <h3>Home Page</h3>
            <img src="/img/FPT.webp" alt="FPT Logo">
        </div>
    </header>
  <nav class="slider-menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
{{{body}}}
<footer>
    <p> © 2023 Your Company</p>
</footer>
</html>