
  <ul>
    {{#each news}}
      <div class="news">
        <h3>{{title}}</h3>
        <img src="{{image}}" alt="Ảnh bài báo">
        <p>{{content}}</p>
        <a href="{{link}}" target="_blank">Đọc thêm</a>
      </div>
    {{/each}}
  </div>